body {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
}

.modal-content {
  position: relative; /* Position relative for content */
  margin: 15% auto; /* Center the modal */
  padding: 20px;
  width: 80%; /* Width of modal */
  background: white; /* Background of modal content */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for modal */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 30px; /* Size of close button */
  cursor: pointer; /* Change cursor on hover */
}

.close-button:hover {
  color: red; /* Change color on hover */
}

button.pokemon-button {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button.pokemon-button:hover {
  background-color: #ddd;
}

#modal-pokemon-image {
  max-width: 100%; /* Responsive image */
  height: auto;
  margin-top: 10px; /* Space above the image */
}
